<div class="App_Login_Container" style="position: relative">

  <div class="App_Login_Content">
    <div class="Content_Box">
      <div>
        <div class="Content_Logo_Box">
          <img src="../../assets/img/ELF-최종안-세로.png" alt="" />
        </div>
        <p class="Login_Greetings">
          <span>실증에 참여해 주셔서 감사합니다.</span>
        </p>
      </div>
    <div>
      <div class="Login_Form_Box">


        <form>

          <mat-form-field appearance="outline" floatLabel="always"
          [hideRequiredMarker]="hideRequiredControl.value"
          [floatLabel]="getFloatLabelValue()"
          >
            <input
              matInput
              name="ID"
              [formControl]="ID"
              required
              placeholder="ID"
            />
            <mat-error class="Text_Error">
              Valid value is required!
            </mat-error>
          </mat-form-field>


          <mat-form-field
          appearance="outline"
           floatLabel="always"
           class="Pwd_Form_Field"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="getFloatLabelValue()"
           >
            <input
              matInput
              name="PW"
              [formControl]="PW"
              [type]="hide ? 'password' : 'text'"
              placeholder="Password"
              required


            />
            <button
            class="Pwd_Vis_Btn"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          ><mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
            <mat-error class="Text_Error">
              Valid value is required!
            </mat-error>
          </mat-form-field>
        </form>
        <form (submit)="Login($event)" class="Login_Btn">
          <button mat-button type="submit" value="Login">Login</button>
        </form>
      </div>
    </div>

      <div class="Contact_Box">
        <span>
          (주)씨앤텍시스템즈 TEL.02-734-2889 <br>
          EMAIL.
          sh.hwang&#64;cntechsystems.com
        </span>
      </div>
    </div>
  </div>
</div>
